body {
	font-family: Helvetica;
}
#header hgroup {
	position: relative;
}
#header h1 {
	background: url('../images/logo.png') no-repeat center 5px;
	width: 100%;
	height: 184px;
	margin: 0px;
	padding: 0px;
	text-indent: -10000px;
}
#header h2 {
	position: absolute;
	left: 423px;
	bottom: 5px;
	padding: 0;
	margin: 0;
	font-size: 220%;
	line-height: 1em;
	text-transform: uppercase;
	font-family: Baskerville;
	color: #616060;
	font-weight: normal;
}
#header span.date {
	display: block;
	background: #A61700;
	color: #FFF;
	font-size: 150%;
	line-height: 2em;
	text-align: center;
}

#nav {
	height: 40px;
	width: 100%;
	background: #FFE100;
}

#nav ul {
	margin: 0 auto;
	width: 980px;
	list-style: none;
}
#nav ul li {
	width: 140px;
	float: left;
	list-style: none;
}
#nav ul li a {
	display: block;
	text-align: center;
	line-height: 40px;
	color: #656565;
	position: relative ;
}
#nav ul li.active a {
	background: #996500;
	color: #FFF;
}
#nav ul li.active a:after {
	position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 10px #996500;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.contentSection {
	display:none;
}

.contentSection.active {
	display:block;
}


#content {
	width: 980px;
	margin: 0 auto;
}

#content h3 {
	text-align: center;
}

#content .posts {
	width: 1200px;
}

#content .post {
	width: 460px;
	margin-right: 20px;
	float: left;
	position: relative;
	padding: 5px;
}

#content .post:nth-child(odd) {
	clear: both;
}

#content .post h1 {
	margin: 0;
	font-size: 160%;
	width: 300px;
}

#content .post h2 {
	margin: 0;
	font-size: 120%;
	color: #616060;
	line-height: 1em;
	font-weight: normal;
}

#content .post img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#content .post ul.nav {
	position: absolute;
	right: 5px;
	top: 5px;
}

#content .post .content {
	display: none;
}

#content .post .content.active {
	display: block;
}

#content #post-231, #content #post-331, #content #post-211, #content #post-131, #content #post-351, #content #post-141, #content #post-291 {
	background: #FFEE73;
}

#footer p {
	width: 100%;
	float: left;
	line-height: 2em;
	text-align: center;
	font-size: 80%;
}